@import "../../../data/styles.css";

.works-body {
	margin-bottom: 10px;
}

.work {
	display: flex;
	flex-direction: column;
	padding-bottom: 40px;
	width: 100%;
}

.work-image {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	outline: 6px solid white;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
}

.work-title {
	font-size: 15px;
	font-weight: 700;
	margin-top: -3px;
	color: var(--secondary-color);
}

.work-subtitle {
	font-size: 12px;
	color: var(--secondary-color);
	margin-top: 5px;
}

.work-duration {
	font-size: 12px;
	margin-top: 5px;
	color: var(--tertiary-color);
}

.work-description {
	font-size: 12px;
	margin-top: 10px;
	color: var(--text-color);
	line-height: 1.5;
}

.work-skills {
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
}

.work-skill {
	font-size: 11px;
	background-color: var(--bg-secondary-color);
	color: var(--secondary-color);
	padding: 3px 8px;
	border-radius: 15px;
	margin-right: 8px;
	margin-bottom: 8px;
}
